# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Uploads and temp files
static/uploads/*
!static/uploads/.gitkeep

# Logs and compiled files
*.log
*.sqlite3
*.db

# Environment variables
.env
